@using  RecruitmentAgency.Web.Models;

@model  ICollection<VacancyModel>

<h2>Вакансии</h2>
    <div class="table">
            <div class="row">
                <div id="search" class="col-md-4">                   
                        @Html.Partial("Search", new VacancySearchModel())                    
                </div>
                <div class="col-md-8" id="vacancies">
                    @if (User.IsInRole("employee"))
                    {
                    <div class="row">
                        @Html.ActionLink("Добавить", "Create", "Vacancy", new { @class = "btn btn-default", @style = "float:right" })                       
                    </div>
                    }
                <div id="vacancies">@Html.Partial("SearchResults", Model)</div>
                    
                </div>
            </div>

        </div>
