@using RecruitmentAgency.Web.Models;

@model  ICollection<CandidateModel>

@if (Model.Count == 0)
{
    <div style="text-align:center">
        Подходящие кандидаты не найдены
    </div>
}
else
{
    <div int="vacList">
        @foreach (var vac in Model)
        {
            @Html.Partial("Row", vac)
            <hr />
        }
    </div>
}
